{{ partial "default_head.html" . }}
{{ partial "nav.html" . }}

<div class="container">
  <div class="row">
    <article class="container-fluid article">
      <h2 class="article-title">{{ .Title }}</h2>
      <hr>
      <div class="schedule-date-block">
        {{ with .Site.Params.conference.date }}
        <div class="schedule-day">{{ . }}</div>
        {{ end }}
        <hr>
        <div class="schedule-event">{{ .Site.Params.conference.type }}</div>
        <div class="schedule-notes">*Schedule is subjected to change*</div>
      </div>
      <div class="article-body" itemprop="articleBody">
        <div class="timeline">
        {{ range .Site.Params.conference.talks }}
          <div class="timeline-block clearfix" id="{{ .fragmentid }}">
            <div class="timeline-point"></div>
            <div class="timeline-time col-xs-3 col-md-2">{{ .timerange }}</div>
            <div class="timeline-event col-xs-9 col-md-10">
              <h4 class="{{ .class }}">{{ .title }}</h4>
              <div class="talk-block">
                {{ with .talk }}
                <p class="text-muted">{{ . | markdownify }}</p>
                {{ end }}
                {{ if and .profile .name }}
                <div class="speaker-block">
                  <div class="speaker-img-xs">
                    <img src="../../img/{{ .profile }}" class="speaker-img-responsive center-block" alt="{{ .name }}">
                  </div>
                  <div class="speaker-bio-link"><a href="/speakers/#{{ .fragmentid }}">{{ .name }}</a></div>
                </div>
                {{ end }}
                {{ range .speakers }}
                  <p>{{ .profile }}</p>
                {{ end }}
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </article>
  </div>
</div>

{{ partial "credits.html" . }}

{{ partial "js.html" . }}