<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.speakers .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.partners }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ if .Site.Params.speakers.list }}
            {{ partial "speakers.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "portfolio.html" . }}
        {{ end }}

        {{ if .Site.Params.aside }}
            {{ partial "aside.html" . }}
        {{ end }}

        {{ if .Site.Params.partners }}
            {{ partial "partners.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "modals.html" . }}
        {{ end }}

        {{ partial "js.html" . }}
    </body>
</html>
