{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="cover-title">GopherCon Singapore<h1>
                <h4 class="cover-subtitle">Mid 2017.. details to be confirmed soon!<h1>
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
                <a href="#" class="btn btn-primary btn-xl register-btn">{{ . }}</a>
            {{ end }}
            <div class="cover-img">
              <img class="img-responsive" src="../../img/header.jpg" />
            </div>

        </div>
    </div>
</header>
