{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h3 class="cover-title">The first and largest community-driven Go conference in Southeast Asia!</h3>
            <div class="cover-img">
              <img class="img-responsive" src="../../img/header.png" />
            </div>
            <h2 class="cover-subtitle">Mid 2017</h2>
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            {{ with .Site.Params.hero.buttonText }}
                <a href="#" class="btn btn-primary btn-xl register-btn">{{ . }}</a>
            {{ end }}
            <a href="#" class="btn btn-primary btn-xl register-btn">Call for Proposal</a>
        </div>
    </div>
</header>
