{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h3 class="cover-title">The first and largest Go conference in Southeast Asia!</h3>
            <div class="cover-img">
              <img class="img-responsive" src="../../img/gopherconsg.svg" alt="GopherCon Singapore" width="450" height="450">
            </div>
            <h2 class="cover-subtitle">25th May 2017, <a href="/workshop">Amara Singapore Hotel</a>
            </h2>
            <h2 class="cover-subtitle">26th May 2017, <a
             href="/venue">Google Asia Pacific HQ, Singapore</a></h2>
            {{ if and .Site.Params.hero.slogan .Site.Params.hero.subtitle }}
                <hr>
            {{ end }}
            <div class="banner">
             <span class="content">Thank you! Tickets are SOLD OUT! 👏</span>
            </div>
        </div>
    </div>
</header>
