{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid gopher-nav">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand" href="/">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse gopher-nav" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
                    <li>
                        <a href="#">{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                {{ end }}

                    <li>
                        <a href="/workshop">{{ .Site.Params.navigation.links.workshop }}</a>
                    </li>
                {{ if and .Site.Params.talks .Site.Params.navigation.links.talks }}
                    <li><a href="/talks">Talks</a></li>
                {{ end }}

                {{ if and .Site.Params.speakers .Site.Params.navigation.links.speakers }}
                    <li><a href="/speakers">Speakers</a></li>
                {{ end }}

                {{ if and .Site.Params.events .Site.Params.navigation.links.events }}
                    <li>
                        <a href="#">{{ .Site.Params.navigation.links.events }}</a>
                    </li>
                {{ end }}

                {{ if and .Site.Params.venue .Site.Params.navigation.links.venue }}
                    <li>
                        <a href="/venue">{{ .Site.Params.navigation.links.venue }}</a>
                    </li>
                {{ end }}

                {{ if and .Site.Params.partners .Site.Params.navigation.links.partners }}
                    <li>
                        <a href="#">{{ .Site.Params.navigation.links.partners }}</a>
                    </li>
                {{ end }}

                <li>
                    <a href="http://www.ticketbase.com/events/gopherconsg2017" class="tickets-btn">Tickets</a>
                </li>
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
