{{ "<!-- NAVIGATION -->" | safeHTML }}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid gopher-nav">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{ with .Site.Params.navigation.brand }}
                <a class="navbar-brand" href="/">{{ . | markdownify }}</a>
            {{ end }}
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse gopher-nav" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav navbar-right">
                {{ if and .Site.Params.about .Site.Params.navigation.links.about }}
                    <li>
                        <a href="/about">{{ .Site.Params.navigation.links.about }}</a>
                    </li>
                {{ end }}
                {{ if and .Site.Params.speakers.list .Site.Params.navigation.links.speakers }}
                    <li class="dropdown">
                        <a href="#" class="dropdown-menutoggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Schedule<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="/speakers">Speakers</a></li>
                            <li><a href="/programme">Programme</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/workshop">Workshop</a></li>
                        </ul>

                    </li>
                {{ end }}

                {{ if and .Site.Params.events .Site.Params.navigation.links.events}}
                    <li>
                        <a href="/events">{{ .Site.Params.navigation.links.events}}</a>
                    </li>
                {{ end }}

                {{ if and .Site.Params.venue .Site.Params.navigation.links.venue}}
                    <li>
                        <a href="/venue">{{ .Site.Params.navigation.links.venue}}</a>
                    </li>
                {{ end }}

                {{ if and .Site.Params.partners .Site.Params.navigation.links.partners }}
                    <li>
                        <a href="/partners">{{ .Site.Params.navigation.links.partners }}</a>
                    </li>
                    <li>

                        <a href="#" class="tickets-btn">Tickets</a>
                    </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
