{{ "<!-- PARTNERS -->" | safeHTML }}
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.partners.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.partners.headline .Site.Params.partners.description }}
                    <hr class="primary">
                {{ end }}
            </div>
            <div class="sponsor-logos">
                <div class="gold-sponsor-logos-row sponsor-row">
                    <div class="sponsor-text text-center">
                        <h3>Gold Sponsors</h3>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <img class="img-responsive gold-sponsor-logos" src="../../img/thoughtworks_logo.png" />
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <img class="img-responsive gold-sponsor-logos" src="../../img/singapore_power_logo.png" />
                    </div>
                </div>
                <div class="silver-sponsor-logos-row sponsor-row">
                    <div class="sponsor-text text-center">
                        <h3>Silver Sponsors</h3>
                    </div>
                    <div class="col-lg-12 col-md-12 text-center">
                        <img class="img-responsive silver-sponsor-logos" src="../../img/dgraph_logo.svg" />
                    </div>
                </div>

            </div>
            <div class="sponsor-invite-text col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.partners.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
