{{ "<!-- PARTNERS -->" | safeHTML }}
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                {{ with .Site.Params.partners.headline }}
                <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.partners.headline .Site.Params.partners.description }}
                <hr class="primary">
                {{ end }}
            </div>
            <div class="col-lg-12 sponsor-logos">
                <div class="platinum-sponsor-logos-row sponsor-row">
                    <div class="text-center">
                        <img class="img-responsive platinum-sponsor-logos" src="../../img/gojek_logo.png" />
                    </div>
                </div>
                <div class="gold-sponsor-logos-row sponsor-row">
                    <div class="text-center">
                        <img class="img-responsive gold-sponsor-logos" src="../../img/thoughtworks_logo.png" />
                    </div>
                    <div class="text-center">
                        <img class="img-responsive gold-sponsor-logos" src="../../img/singapore_power_logo.png" />
                    </div>
                    <div class="text-center">
                        <img class="img-responsive venue-sponsor-logos" src="../../img/standard_chartered_logo.png" />
                    </div>
                </div>
                <div class="silver-sponsor-logos-row sponsor-row">
                    <div class="img-svg">
                        <img class="img-responsive silver-sponsor-logos" src="../../img/dgraph_logo.svg" />
                    </div>
                    <div class="text-center">
                        <img class="img-responsive silver-sponsor-logos" src="../../img/carousell_logo.png" />
                    </div>
                    <div class="text-center">
                        <img class="img-responsive silver-sponsor-logos" src="../../img/imda_logo@2x.png" />
                    </div>
                    <div class="text-center">
                        <img class="img-responsive silver-sponsor-logos datadog" src="../../img/datadog_logo.png" />
                    </div>
                    <div class="text-center">
                        <img class="img-responsive silver-sponsor-logos" src="../../img/grab_logo.png" />
                    </div>
                </div>
                <div class="venue-sponsor-logos-row sponsor-row">
                    <div class="text-center">
                        <img class="img-responsive venue-sponsor-logos" src="../../img/google_logo.png" />
                    </div>
                </div>
            </div>
            <div class="col-lg-12 sponsor-invite-text text-center">
                {{ with .Site.Params.partners.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
